body {
  margin: 0;
  font-size: 16px;
  color: #393e46;
  background-color: #333333;
}

a.thumbnail:hover {
    text-decoration: none;
}

.navbar-toggle {
  background-color: #ffffff;
}

.container {
  background-color: #FFFFFF;
}

.page-header {
  background-color: #333333;
  padding-top:25px;
  margin-top: 0px;
  margin-left:-15px;
  margin-right: -15px;
  margin-bottom: 0px;
  color: #FFFFFF;
}

.navbar-header > a {
  color: #FFFFFF;
  text-decoration: None;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.nav > li> a {
  margin-top:20px;
  color: #ffffff;
}

.nav > .active > a {
  color: #4582ec;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #ffffff;
  color: #4582ec;
}

.nav-justified {
  background-color: #eee;
  border-radius: 5px;
  margin-bottom:15px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
}
.nav-justified > .active > a {
  background-color: #ddd;
  background-image: none;
  box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}

@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 53px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-toggle {
  margin-top: 25px;
}

.side-review {
  text-align: left;
  padding-bottom: 10px;
}

.side-review > a > p {
  margin-bottom: 0px;
}

.center-text {
  text-align: center;
}

.front-review {
  margin-top: 10px;
}
