.timeline {
  list-style: none;
  position: relative;
}
.timeline > li {
  margin-bottom: 20px;
  margin-left: -40px;
  position: relative;
}

.timeline > li > .timeline-panel {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  border: 1px solid #d4d4d4;
  /*border-radius: 2px;*/
  /*padding: 20px;*/
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline-badge > a {
  color: #C5C7C5 !important;
}
.timeline-badge a:hover {
  color: #FF531F !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    padding:20px;
    margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-footer{
    padding:20px;
    background-color:#f4f4f4;
}
.timeline-footer > a{
    cursor: pointer;
    text-decoration: none;
}
.timeline-heading
{
    position: relative;
}
.timeline-heading .post-title
{
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: absolute;
}
.timeline-heading .post-title b
{
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 5px;
}
.post-title
{
    margin-top: -150px;
    max-height: inherit;
}
