{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-lg-8">
        <h2>Music Videos</h2>
    </div>


{% if g.user != None and g.user.is_authenticated() %}
    <div class="col-lg-4">
        <div class="pull-right" style="padding-top:25px;">
        <a href="{{ url_for('add_video') }}">
        <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            Add New Video
        </button>
        </a>
        </div>
    </div>
{% endif %}

</div>

  <div class='row'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="musicvideos">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">

            {% for video in videos1.items %}
              <div class="col-sm-3">
                  <a class="thumbnail" href="{{ url_for('single_video', video_url=video.url) }}"><img alt="{{ video.title }}" src="http://img.youtube.com/vi/{{ video.youtube_id }}/mqdefault.jpg"></a>
                  <div class="videos-title">
                  <h5>{{ video.title }}</h5>
                  </div>
              </div>
            {% endfor %}
            </div>
          </div>
          <div class="item">
            <div class="row">
               {% for video in videos2.items %}
              <div class="col-sm-3">
                  <a class="thumbnail" href="{{ url_for('single_video', video_url=video.url) }}"><img alt="{{ video.title }}" src="http://img.youtube.com/vi/{{ video.youtube_id }}/mqdefault.jpg"></a>
                  <div class="videos-title">
                  <h5>{{ video.title }}</h5>
                  </div>
              </div>
            {% endfor %}
            </div>
          </div>
          <div class="item">
            <div class="row">
              {% for video in videos3.items %}
              <div class="col-sm-3">
                  <a class="thumbnail" href="{{ url_for('single_video', video_url=video.url) }}"><img alt="{{ video.title }}" src="http://img.youtube.com/vi/{{ video.youtube_id }}/mqdefault.jpg"></a>
                  <div class="videos-title">
                  <h5>{{ video.title }}</h5>
                  </div>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
        <a data-slide="prev" href="#musicvideos" class="left carousel-control">‹</a>
        <a data-slide="next" href="#musicvideos" class="right carousel-control">›</a>
      </div>
     </div>
    </div>

<div class="row">
    <div class="col-lg-8">
        <h2>Interviews</h2>
    </div>
</div>


 <div class='row'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="interviews">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              {% for video in videos4.items %}
              <div class="col-sm-3">
                  <a class="thumbnail" href="{{ url_for('single_video', video_url=video.url) }}"><img alt="{{ video.title }}" src="http://img.youtube.com/vi/{{ video.youtube_id }}/mqdefault.jpg"></a>
                  <div class="videos-title">
                  <h5>{{ video.title }}</h5>
                  </div>
              </div>
            {% endfor %}
            </div>
          </div>
          <div class="item">
            <div class="row">
              {% for video in videos5.items %}
              <div class="col-sm-3">
                  <a class="thumbnail" href="{{ url_for('single_video', video_url=video.url) }}"><img alt="{{ video.title }}" src="http://img.youtube.com/vi/{{ video.youtube_id }}/mqdefault.jpg"></a>
                  <div class="videos-title">
                  <h5>{{ video.title }}</h5>
                  </div>
              </div>
            {% endfor %}
            </div>
          </div>
          <div class="item">
            <div class="row">
              {% for video in videos6.items %}
              <div class="col-sm-3">
                  <a class="thumbnail" href="{{ url_for('single_video', video_url=video.url) }}"><img alt="{{ video.title }}" src="http://img.youtube.com/vi/{{ video.youtube_id }}/mqdefault.jpg"></a>
                  <div class="videos-title">
                  <h5>{{ video.title }}</h5>
                  </div>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
        <a data-slide="prev" href="#interviews" class="left carousel-control">‹</a>
        <a data-slide="next" href="#interviews" class="right carousel-control">›</a>
      </div>
     </div>
    </div>


<div class="row">
    <div class="col-lg-8">
        <h2>Writer Videos</h2>
    </div>

</div>


 <div class='row'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="last">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              {% for video in videos7.items %}
              <div class="col-sm-3">
                  <a class="thumbnail" href="{{ url_for('single_video', video_url=video.url) }}"><img alt="{{ video.title }}" src="http://img.youtube.com/vi/{{ video.youtube_id }}/mqdefault.jpg"></a>
                  <div class="videos-title">
                  <h5>{{ video.title }}</h5>
                  </div>
              </div>
            {% endfor %}
            </div>
          </div>
          <div class="item">
            <div class="row">
              {% for video in videos8.items %}
              <div class="col-sm-3">
                  <a class="thumbnail" href="{{ url_for('single_video', video_url=video.url) }}"><img alt="{{ video.title }}" src="http://img.youtube.com/vi/{{ video.youtube_id }}/mqdefault.jpg"></a>
                  <div class="videos-title">
                  <h5>{{ video.title }}</h5>
                  </div>
              </div>
            {% endfor %}
            </div>
          </div>
          <div class="item">
            <div class="row">
              {% for video in videos9.items %}
              <div class="col-sm-3">
                  <a class="thumbnail" href="{{ url_for('single_video', video_url=video.url) }}"><img alt="{{ video.title }}" src="http://img.youtube.com/vi/{{ video.youtube_id }}/mqdefault.jpg"></a>
                  <div class="videos-title">
                  <h5>{{ video.title }}</h5>
                  </div>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
        <a data-slide="prev" href="#last" class="left carousel-control">‹</a>
        <a data-slide="next" href="#last" class="right carousel-control">›</a>
      </div>
     </div>

</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#musicvideos').carousel({
    pause: true,
    interval: 8000,
  });
  $('#interviews').carousel({
    pause: true,
    interval: 8500,
  });
  $('#last').carousel({
    pause: true,
    interval: 8750,
  });

});
</script>

{% endblock %}
