{% extends "layout.html" %}
{% block body %}

<div class="row">
	<div class="col-lg-6">
		<p><h1>Contact Us</h1></a>
	</div>

<h1></h1>

<div clas="row">
		<div align=right class="col-lg-6" id="sharedcount">
                        <a href="https://twitter.com/monomaniamag" class="btn btn-default twitter" target="_blank"><i class="fa fa-twitter fa-fw"></i>Tweet<span class="badge" id="tweets"></span></a>
                    <a href="https://www.facebook.com/monomaniamag" class="btn btn-default facebook" target="_blank"><i class="fa fa-facebook fa-fw"></i>Share<span class="badge" id="likes"></span></a>
                    <a href="https://plus.google.com/share?url=http://monomaniamag.com/"javascript:window.open(this.href,
                    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="btn btn-default googleplus" target="_blank"><i class="fa fa-google-plus fa-fw"></i>Post <span class="badge" id="plusones"></span></a>
		</div>
	</div>
</div>
	
<h1></h1>

<div align=left class="row">
          	
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="mailto:team@monomaniamag.com?Subject=Writer%20Here" target="_top">Would you like to write for us?</h3></a>
            </div>
			<div class="front-review">
		<a href="mailto:team@monomaniamag.com?Subject=Writer%20Here" target="_top">
		<img src="/static/images/write.jpeg" align=right width=301px height=200px>
			</div></a>
	<p>Click above to send us an email regarding your interest in writing for Monomania Magazine.</p>
    <div class="row">
</div>
</div>
</div>
          	
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="mailto:team@monomaniamag.com?Subject=Request%20Article" target="_top">Want to request an article?</h3></a>
            </div>
			<div class="front-review">
		<a href="mailto:team@monomaniamag.com?Subject=Request%20Article" target="_top">
		<img src="/static/images/request.jpg" align=right width=301px height=200px>
			</div></a>		
	<p>Click above to request an article, because this site is about what the readers want.</p>
    <div class="row">
</div>
</div>
</div>
	
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="mailto:team@monomaniamag.com?Subject=Site%20Problem" target="_top">Problems with the site?</h3></a>
            </div>
			<div class="front-review">
		<a href="mailto:team@monomaniamag.com?Subject=Site%20Problem" target="_top">
                  <img src="/static/images/problem.jpeg" align=right width=302px height=200px>
			</div></a>
	<p>Click above if you have a problem with the site or would like to request different site functionality.</p>
    <div class="row">
</div>
</div>
</div>
{% endblock %}
