{% extends "layout.html" %}
{% block body %}
<h1></h1>

<div class="row">
    <div class="col-md-5 col-sm-8 col-xs-12">
        <div class="panel panel-info">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="{{ url_for('single_news_article', article_url=one_featured.url) }}">
                            <img src="/static/news/{{ one_featured.photo }}" alt="{{ one_featured.page_title }}">
                            <div class="carousel-caption">
                                <h3>{{ one_featured.page_title }}</h3>
                                <p>{{ one_featured.preview }}</p>
                            </div>
                        </a>
                    </div>
                    {% for article in featured_news %}
                    <div class="item">
                        <a href="{{ url_for('single_news_article', article_url=article.url) }}">
                            <img src="/static/news/{{ article.photo }}" alt="{{ article.page_title }}">
                            <div class="carousel-caption">
                                <h3>{{ article.page_title }}</h3>
                                <p>{{ article.preview }}</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div><!-- end carousel-inner -->
            </div><!-- end carousel-example-generic -->
        </div> <!-- end panel -- >
    </div> <!-- end column -->

    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="{{ url_for('news') }}">Recent Articles</a></h3>
            </div>

            <!--  for article -->
            {% for article in news.items %}
            <div class="front-review">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{{ url_for('single_news_article', article_url=article.url) }}">
                            <img class="img-responsive" src="/static/news/{{ article.photo }}">
                        </a>
                    </div>
                    <div class="col-sm-8">
                        <div class="side-review">
                            <a href="{{ url_for('single_news_article', article_url=article.url)}}">
                                <p><small>{{ article.page_title }}</small></p>
                            </a>
                                <p><small>{{ article.preview }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- end for -->

            <div class="row">
                <div class="col-sm-12 center-text">
                    <a href="{{ url_for('news') }}"
                        <h6>More News >></h6>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="{{ url_for('reviews') }}">Recent Reviews</a></h3>
            </div>

            <!--  for article -->
            {% for review in recent_reviews %}
            <div class="front-review">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{{ url_for('single_album_review', review_url=review.url) }}">
                            <img class="img-responsive" src="/static/reviews/{{ review.photo }}">
                        </a>
                    </div>
                    <div class="col-sm-8">
                        <div class="side-review">
                            <a href="{{ url_for('single_album_review', review_url=review.url)}}">
                                <p><strong>{{ review.artist }}</strong></p>
                                <p><small>{{ review.album }}</small></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- end for -->

        </div>
    </div>


</div>


<div class="row">
                <div class="col-lg-12">
    <div class="row">
        <div class="col-md-12">
        <h2>Recent Videos</h2>
        </div>
    </div>
    <div class="row">

    {% for video in videos1.items %}
    <div class="col-sm-4 col-md-2">
        <a class="thumbnail" href="{{ url_for('single_video', video_url=video.url) }}">
            <img alt="{{ video.title }}" src="http://img.youtube.com/vi/{{ video.youtube_id }}/mqdefault.jpg">
            <span class="caption">{{ video.title }}</span>
        </a>
    </div>
    {% endfor %}

    {% for video in videos2.items %}
    <div class="col-sm-4 col-md-2">
        <a class="thumbnail" href="{{ url_for('single_video', video_url=video.url) }}">
            <img alt="{{ video.title }}" src="http://img.youtube.com/vi/{{ video.youtube_id }}/mqdefault.jpg">
            <span class="caption">{{ video.title }}</span>
        </a>
    </div>
    {% endfor %}

</div>
</div>


<!-- bottom section -->
<div class="col-lg-12">
<div class="row">

    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="{{ url_for('album_reviews') }}">Album Reviews</a></h3>
            </div>
            <!--  for article -->
            {% for review in panel_album_reviews.items %}
            <div class="front-review">
            <div class="row">
                <div class="col-sm-4">
                    <a href="{{ url_for('single_album_review', review_url=review.url) }}">
                    <img class="img-responsive" src="/static/reviews/{{ review.photo }}">
                    </a>
                </div>
                <div class="col-sm-8">
                    <div class="side-review">
                    <a href="{{ url_for('single_album_review', review_url=review.url)}}">
                        <p><strong>{{ review.artist }}</strong></p>
                        <p><small>{{ review.album }}</small></p>
                    </a>
                    </div>
                </div>
            </div>
            </div>
            {% endfor %}
            <!-- end for -->

            <div class="row">
            <div class="col-sm-12 center-text">
                <a href="{{ url_for('reviews') }}"
                    <h6>More Reviews >></h6>
                </a>
            </div>
            </div>


        </div>
    </div>


    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><a href= "{{ url_for('track_reviews') }}">Track Reviews</a></h3>
            </div>

            <!--  for article -->
            {% for review in panel_track_reviews.items %}
            <div class="front-review">
            <div class="row">
                <div class="col-sm-4">
                    <a href="{{ url_for('single_track_review', review_url=review.url) }}">
                    <img class="img-responsive" src="/static/reviews/{{ review.photo }}">
                    </a>
                </div>
                <div class="col-sm-8">
                    <div class="side-review">
                    <a href="{{ url_for('single_track_review', review_url=review.url)}}">
                        <p><strong>{{ review.artist }}</strong></p>
                        <p><small>{{ review.album }}</small></p>
                    </a>
                    </div>
                </div>
            </div>
            </div>
            {% endfor %}
            <!-- end for -->

            <div class="row">
            <div class="col-sm-12 center-text">
                <a href="{{ url_for('reviews') }}"
                    <h6>More Reviews >></h6>
                </a>
            </div>
            </div>


        </div>
    </div>


    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
               <h3 class="panel-title"> <a href="{{ url_for('artist_reviews') }}">Artist Reviews</a></h3>
            </div>

            <!--  for article -->
            {% for review in panel_artist_reviews.items %}
            <div class="front-review">
            <div class="row">
                <div class="col-sm-4">
                    <a href="{{ url_for('single_artist_review', review_url=review.url) }}">
                    <img class="img-responsive" src="/static/reviews/{{ review.photo }}">
                    </a>
                </div>
                <div class="col-sm-8">
                    <div class="side-review">
                    <a href="{{ url_for('single_artist_review', review_url=review.url)}}">
                        <p><strong>{{ review.artist }}</strong></p>
                        <p><small>{{ review.album }}</small></p>
                    </a>
                    </div>
                </div>
            </div>
            </div>
            {% endfor %}
            <!-- end for -->

            <div class="row">
            <div class="col-sm-12 center-text">
                <a href="{{ url_for('reviews') }}"
                    <h6>More Reviews >></h6>
                </a>
            </div>
            </div>


        </div>
    </div>



   </div>
</div>
<!-- end bottom section -->


</div>

{% endblock %}
