{% extends "layout.html" %}
{% block body %}

<div class="row">
<div class="col-md-5 col-sm-8 col-xs-12">
    <div class="panel panel-info">
    <div class="panel-heading">
            <h3 class="panel-title">Featured Articles</h3>
        </div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
        <a href="/articles/2014/john-mayer-interview">
        <img src="http://placehold.it/600x500&text=." alt="Drop The Anchor">
        <div class="carousel-caption">
            <h3>John Mayer Exclusive Interview</h3>
            <p>including talk of new music and inspiration from 2014</p>
        </div>
        </a>
        </div>
        <div class="item">
        <a href="/articles/2014/john-mayer-interview">
        <img src="http://placehold.it/600x500&text=." alt="Chin Up Kid">
        <div class="carousel-caption">
            <h3>Drop The Anchor Album Release</h3>
            <p></p>
        </div>
        </a>
        </div>
        <div class="item">
        <a href="/articles/2014/john-mayer-interview">
        <img src="http://placehold.it/600x500&text=." alt="Fi">
        </a>
        </div>
    </div>
</div>
</div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="panel panel-danger">
    <div class="panel-heading">
            <h3 class="panel-title">Recent Articles</h3>
        </div>
    <div class="media">
        <a class="pull-left" href="/articles/2014/nirvana-songs-reviewed">
        <img class="media-object" src="http://placehold.it/64x64" alt="Article Name">
        </a>
        <div class="media-body">
            <a href="/articles/2014/nirvana-songs-reviewed">
            <h4 class="media-heading">Nirvana Songs Rated</h4>
            <p><small>Top songs rated and reviewed</small></p>
            </a>
        </div>
    </div>
    <div class="media">
        <a class="pull-left" href="/articles/2014/nirvana-songs-reviewed">
        <img class="media-object" src="http://placehold.it/64x64" alt="Article Name">
        </a>
        <div class="media-body">
            <a href="/articles/2014/nirvana-songs-reviewed">
            <h4 class="media-heading">Nirvana Songs Rated</h4>
            <p><small>Top songs rated and reviewed</small></p>
            </a>
        </div>
    </div>
    <div class="media">
        <a class="pull-left" href="/articles/2014/nirvana-songs-reviewed">
        <img class="media-object" src="http://placehold.it/64x64" alt="Article Name">
        </a>
        <div class="media-body">
            <a href="/articles/2014/nirvana-songs-reviewed">
            <h4 class="media-heading">Nirvana Songs Rated</h4>
            <p><small>Top songs rated and reviewed</small></p>
            </a>
        </div>
    </div>
    <div class="media">
        <a class="pull-left" href="/articles/2014/nirvana-songs-reviewed">
        <img class="media-object" src="http://placehold.it/64x64" alt="Article Name">
        </a>
        <div class="media-body">
            <a href="/articles/2014/nirvana-songs-reviewed">
            <h4 class="media-heading">Nirvana Songs Rated</h4>
            <p><small>Top songs rated and reviewed</small></p>
            </a>
        </div>
    </div>

</div>
</div>
<div class="col-md-3 col-sm-12 col-xs-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Upcoming Artists</h3>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Drop The Anchor</h4>
            <a class="thumbnail" href="#">
                <img src="/static/images/dta.jpg" alt="Drop The Anchor" />
            </a>
            </a>
            <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Chin Up Kid</h4>
            <a class="thumbnail" href="#">
                <img src="/static/images/chinup.jpg" alt="Chin Up Kid" />
            </a>
            </a>
        </div>
    </div>
</div>
</div>

<div class="row">
                <div class="col-lg-6">
    <div class="row">
        <div class="col-md-12">
        <h2>Recent Videos</h2>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-4">
    <a class="thumbnail" href="#">
    <img src="http://placehold.it/170x110" alt="170x110" />
    <span class="caption">Anberlin Live 1102/22</span>
</a>
</div>
<div class="col-sm-4">
    <a class="thumbnail" href="#">
    <img src="http://placehold.it/170x110" alt="170x110" />
    <span class="caption">Anberlin Live 02/22</span>
</a>
</div>
<div class="col-sm-4">
    <a class="thumbnail" href="#">
    <img src="http://placehold.it/170x110" alt="170x110" />
    <span class="caption">Anberlin Live 02/22</span>
</a>
</div>
<div class="col-sm-4">
    <a class="thumbnail" href="#">
    <img src="http://placehold.it/170x110" alt="170x110" />
    <span class="caption">Anberlin Live 02/22</span>
</a>
</div>
<div class="col-sm-4">
    <a class="thumbnail" href="#">
    <img src="http://placehold.it/170x110" alt="170x110" />
    <span class="caption">Anberlin Live 02/22</span>
</a>
</div>
<div class="col-sm-4">
    <a class="thumbnail" href="#">
    <img src="http://placehold.it/170x110" alt="170x110" />
    <span class="caption">Anberlin Live 02/22</span>
</a>
</div>
</div>
</div> <!-- large-6 -->
<div class="col-lg-6">
    <div class="row">
        <div class="col-md-12">
            <h2>Show Schedule</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

        <div class="panel panel-success">
                    <div class="list-group">
                    <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Anberlin</h4>
                    <p class="list-group-item-text">03/25 at Bankers Life Fieldhouse. Doors open at 7 pm.</p>
                    </a>
                    <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">The Dirty Heads</h4>
                    <p class="list-group-item-text">03/26 at the 215 in Avon. Doors open at 8 pm.</p>
                    </a>
                    <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Forevermore</h4>
                    <p class="list-group-item-text">03/27 at the Hoosier Dome. Doors open at 7 pm.</p>
                    </a>
                    <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Drop The Anchor</h4>
                    <p class="list-group-item-text">03/28 at the Hoosier Dome. Doors open at 7:30 pm.</p>
                    </a>
                    <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">View More Shows</h4>
                    </a>
                </div>
        </div>
        </div>
    </div>

</div>

<div class="row">
<div class="col-md-4">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Album Reviews</h3>
        </div>

        {% for review in panel_album_reviews.items %}

        <div class="media">
        <a class="pull-left" href="/articles/2014/nirvana-songs-reviewed">
        <img class="media-object" src="http://placehold.it/64x64" alt="Article Name">
        </a>
        <div class="media-body">
            <a href="/articles/2014/nirvana-songs-reviewed">
            <h4 class="media-heading">Nirvana Songs Rated</h4>
            <p><small>Top songs rated and reviewed</small></p>
            </a>
        </div>
        {% endfor %}

         <div class="list-group">
             <a href="{{ url_for('reviews') }}" class="list-group-item">
            <h4 class="list-group-item-heading">More Album Reviews</h4>
            </a>
        </div>


    </div>

    </div>
</div>

    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Track Reviews</h3>
        </div>
            <div class="list-group">
            <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Anberlin</h4>
            <p class="list-group-item-text">03/25 at Bankers Life Fieldhouse. Doors open at 7 pm.</p>
            </a>
            <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">The Dirty Heads</h4>
            <p class="list-group-item-text">03/26 at the 215 in Avon. Doors open at 8 pm.</p>
            </a>
            <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Forevermore</h4>
            <p class="list-group-item-text">03/27 at the Hoosier Dome. Doors open at 7 pm.</p>
            </a>
            <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Drop The Anchor</h4>
            <p class="list-group-item-text">03/28 at the Hoosier Dome. Doors open at 7:30 pm.</p>
            </a>
            <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">View More Shows</h4>
            </a>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Upcoming Artist Reviews</h3>
        </div>
            <div class="list-group">
            <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Anberlin</h4>
            <p class="list-group-item-text">03/25 at Bankers Life Fieldhouse. Doors open at 7 pm.</p>
            </a>
            <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">The Dirty Heads</h4>
            <p class="list-group-item-text">03/26 at the 215 in Avon. Doors open at 8 pm.</p>
            </a>
            <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Forevermore</h4>
            <p class="list-group-item-text">03/27 at the Hoosier Dome. Doors open at 7 pm.</p>
            </a>
            <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Drop The Anchor</h4>
            <p class="list-group-item-text">03/28 at the Hoosier Dome. Doors open at 7:30 pm.</p>
            </a>
            <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">View More Shows</h4>
            </a>
        </div>
    </div>
</div>

</div>

{% endblock %}
